//colors
$white:         #fff;
$off-white:     #d1d1d1;
$opaqueWhite:   rgba(255,255,255,.25);
$black:         #171717;
$off-black:     #3b3b3b;
$opaqueBlack:   rgba(0,0,0,.5);
$dark-grey:     #454545;
$light-grey:    #878787;
$light-green:   #2bbbad;
$light-greenish: #7BADAF;
$mid-blue:      #405364;
$red:           #ff0000;
$light-blue:    #a3f0ff;
$light-pink:    #e83876;
$dark-purple:   #4F2A80;
$light-purple:  #9854FF;
$dark-orange:   #D24E02;
$mid-orange:    #EC5600;
$light-orange:  #EA783A;