@import "../SharedCSS/Shared";

//****SIDE MENU****//
#side-menu{
  width: 15vw;
  height: 85vh;
  background-color: $off-black;
  #profile-header{
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 0;
    img{
      width: 3vw;
      border-radius: 3px;
      margin-right: 10px;
    }
    #teacher-profile{
      flex-direction: column;
      color: $off-white;
      h2{
        font-size: 1vw;
        font-weight: 900;
        color: $off-white;
      }
      h3{
        font-size: .75vw;
        font-weight: 300;
      }
    }
  }
  #quick-links{
    padding: 0 20px;
    #links-title{
      color: $off-white;
      font-size: .75rem;
      margin-bottom: 20px;
    }
    .quick-link {
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      div {
        align-items: flex-end;
        i {
          color: $white;
          font-size: 1vw;
        }
        .menu-title {
          font-size: .75rem;
          font-weight: 300;
          line-height: .875;
          color: $off-white;
          margin-left: 10px;
        }
      }
    }
  }
}

//****DASHBOARD****//
#container-dashboard{
  width: 85vw;
  height: 85vh;
  background-color: $off-white;
  #dashboard-menu{
    height: 7vh;
    background-color: $off-black;
    background-image: url("../Assets/black-orchid.png");
  }
  //used in students & terms
  .dashboard-empty{
    height: 100%;
    color: $light-grey;
    margin-top: -5vh;
    h2{
      font-size: 1.5vw;
    }
  }
}

//****DASHBOARD GRIDS****//
.item-grid-container{
  padding: 30px 30px 0;
  color: $light-grey;
  h2{
    font-size: 1rem;
    i{
      font-size: 1.25rem;
    }
  }
  h3{
    align-items: center;
    justify-content: space-between;
  }
}

.item-grid{
  flex-wrap: wrap;
  justify-content: flex-start;
  .grid-item{
    background-color: $white;
    margin: 10px;
    padding-top: 20px;
    border-radius: 3px;
    .item-top{
      padding: 0 20px;
      .item-icon{
        font-size: 4rem;
        color: $light-pink;
        background-color: $black;
        padding: 10px;
        border-radius: 3px;
      }
      .grid-header-container{
        margin-left: 10px;
        .grid-item-header{
          h2{
            font-size: .75rem;
          }
          h3{
            color: $light-green;
            font-size: 1rem;
            margin: 5px 0;
          }
          h4{
            font-size: .75rem;
          }
        }
      }
    }
    .grid-options{
      margin-top: 20px;
      .left-choice{
        width: 75%;
        height: 5vh;
        background-color: $black;
        text-align: center;
        border-bottom-left-radius: 3px;
        h5{
          font-size: .65rem;
          color: $white;
          &:hover{
            cursor: pointer;
            color: $light-pink;
          }
        }
      }
      .right-choice{
        width: 25%;
        height: 5vh;
        background-color: $light-pink;
        border-bottom-right-radius: 3px;
        .options-icon{
          font-size: .65rem;
          color: $white;
          margin: 0 5px;
          &:hover{
            cursor: pointer;
            color: $black;
          }
        }
      }
    }
  }
}

//****TERM STUFF****//


//****STUDENT STUFF****//
#grade-label{
  color: $light-green;
  font-size: .9em;
  margin-right: 20px;
}

#grade-select{
  width: 100%;
  display: flex;
  align-items: baseline;
}