@import "../SharedCSS/Shared";

//****LAYOUT****//
#container-layout{

}

//****HEADER****//
#container-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: $black;
  #header-brand{
    width: 15vw;
    h2{
      font-size: 1vw;
      display: inline-block;
    }
    img{
      height: 1.5vw;
      margin-right: 5px;
    }
  }
}

.login{
  height: 5vh;
  background-color: $light-green;
  #header-brand{
    height: 5vh;
    background-color: $light-green;
    color: $white;
  }
}

#login-panel{
  height: 5vh;
  padding: 0 20px;
  background-color: $black;
  align-self: right;
}

.logout{
  height: 10vh;
  background-color: $black;
  #header-brand{
    height: 10vh;
    background-color: $black;
    color: $light-green;
  }
  .notification-bar{
    .notification-top{
      margin: 0 30px;
      .badge-icon{
        position: relative;
        i{
          color: $dark-grey;
          font-size: 7vh;
        }
        .badge-count{
          h3{
            background-color: $red;
            color: $white;
            font-size: .75rem;
            padding: 3px 5px;
            position: absolute;
            top: 0;
            right: -3px;
          }
        }
      }
      h4{
        color: $white;
        font-size: 1rem;
        margin-left: 10px;
      }
    }

  }
}

#logout-panel{
  padding: 0 20px;
  height: 10vh;
  background-color: $black;
  i{
    color: $red;
  }
}

//****FOOTER****//
#container-footer{
  height: 5vh;
  font-size: .6em;
  background-color: $black;
  h3{
    color: $white;
  }
}